@model IEnumerable<appejemplo2.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}
<br>
<br>
<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>           
            <td>
               
                <a asp-action="Details" asp-action="Details2" asp-route-id="@item.ID">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
<br>
<br><br>